/* .service-field
{
    display: block;
    width: 40%;
    height: 20%;
    margin: 2% auto 0.5%;
}
.service-container
{
    display: flex;
    padding: 2%;
    flex-flow: column wrap;
}
.command-bar
{
    display: flex;
    flex-flow: row wrap;
}
.service-cameras
{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.service-camera
{
    display: block;
    width: 30%;
    height: 350px;
    margin: 2% 1%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.service-camera-stream
{
    display: block;
    width: 100%;
    margin: auto;
} */
.service-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.service-drive-container
{
    display: block;
    border: 5px white solid;
    border-radius: 20px;
    padding: 1%;
    margin: 0;
}
.service-drive-header {
    display: block;
    color: white;
    align-content: center;
    align-self: center;
}
.service-command
{
    display: inline-block;
    width: 200px;
    margin-bottom: 5%;
}
.service-drive-drive
{
    display: inline-block;
    margin: 5%;
    max-width: 30%;
    margin-right: 0;
    --frc-swerve-drive-color: white;
}
.service-wrist-container
{
    display: block;
    border: 5px white solid;
    border-radius: 20px;
    padding: 1%;
    margin: 0;
}
.service-wrist-header {
    display: block;
    color: white;
    align-content: center;
    align-self: center;
}
.service-shooter-container
{
    display: block;
    border: 5px white solid;
    border-radius: 20px;
    padding: 1%;
    margin: 0;
}
.service-shooter-header {
    display: block;
    color: white;
    align-content: center;
    align-self: center;
}
.service-orange-pi-container
{
    display: block;
    border: 5px white solid;
    border-radius: 20px;
    padding: 1%;
    margin: 0;
}
.service-orange-pi-header {
    display: block;
    color: white;
    align-content: center;
    align-self: center;
}
.service-orange-pi-camera
{
    display: block;
    width: 400px;
    height: 350px;
    margin: 2% 1%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.service-orange-pi-camera-stream
{
    display: block;
    width: 100%;
    margin: auto;
} 
.service-orange-pi-distance
{
    color: white;
}
.service-xavier-container
{
    display: block;
    border: 5px white solid;
    border-radius: 20px;
    padding: 1%;
    margin: 0;
}
.service-xavier-header {
    display: block;
    color: white;
    align-content: center;
    align-self: center;
}
.service-xavier-camera
{
    display: block;
    width: 400px;
    height: 350px;
    margin: 2% 1%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.service-xavier-camera-stream
{
    display: block;
    width: 100%;
    margin: auto;
} 
.service-xavier-angle
{
    color: white;
}